/* -- GENERAL -- */
/**,*:before,*:after{box-sizing:inherit}*/

.full-width {
    width: 100%;
}

.float-right {
    float:right;
}


.left {
    text-align: left;
}

.center {
    text-align: center;
}

.body {
  padding-bottom: 160px;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin:0;
}


.footer {
  display: block;
  position: fixed; 
  padding: 10px 10px 50px 10px; 
  bottom: 0; 
  width: 100%;
  background-color: #f2f2f2;
  color: #000;
  text-align: center;
  box-sizing: inherit;
  height: 100px;
  font-size: 24px;
  margin-top: auto;
}

.footer p {
  font-size: 16px;
}

.icon:hover {
    color: #4d4d4d;
 }

h1 {font-size:36px}
h2 {font-size:30px}
h3 {font-size:24px}
h4 {font-size:20px}
h5 {font-size:18px}
h6 {font-size:16px}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight:400;
  margin:10px 0;
}

a {
  color: inherit;
}

.wide {
  letter-spacing:4px
}

.content {
  padding: 16px 16px;
  max-width:980px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

.content:after, .content:before {
  content: "";
  display:table;
  clear:both;
}

/* -- PADDING -- */
.p-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.p-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* -- NAVIGATION BAR -- */

.navbar {
    background-color: #000;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown, .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn {
  padding: 14px 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: #fff;
    background-color: #1a1a1a;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content, .dropdown:hover .dropbtn {
    display: block;
    margin: 0;
    left: auto;
    right: 0px;
}

@media screen and (max-width: 600px) {
  .navbar a:not(.no-hide), .dropdown, .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive div {float: left;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none; display: block;}
  .navbar.responsive .dropdown-content {
    position: relative; 
    background-color: #000;
  }
  .navbar.responsive .dropdown-content a {
    color: #fff;
  }
  .navbar.responsive .dropdown-content a:hover {
    color: #fff;
    background-color: #1a1a1a;
  }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    float: center;
  }
}
.w3-grey {
   background-color:#f2f2f2!important
}
