<!DOCTYPE html>
<html lang="no" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="author" href="https://www.uso.no">
    <link rel="icon" type="{{ site.baseurl }}/img/favicon.png" href="">
    <link rel="alternate icon" href="{{ site.baseurl }}/img/favicon.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <meta name="author" content="USO">
    <meta name="creator" content="USO">
    <meta name="description" content="Alfaversjon av USOs nye hjemmeside">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Universitetets symfoniorkester Oslo</title>
</head>
<script>
function myFunction() {
  var x = document.getElementById("myNavbar");
  if (x.className === "navbar") {
    x.className += " responsive";
  } else {
    x.className = "navbar";
  }
}
</script>
<body class="body">

<!-- Navbar -->
<div >
    <div class="navbar" id="myNavbar">
        <a href="/" class="no-hide">
            <img src="{{ site.baseurl }}/img/uso-140-trans-white.png" style="width:50px;"/>
        </a>
        <div class="float-right">
            <a href="{{ site.baseurl }}/omoss">OM OSS</a>
            <a href="{{ site.baseurl }}/blimed">BLI MED</a>
            <a href="#sesongprogram">SESONGPROGRAM</a>
            <a href="#kontakt">KONTAKT</a>
            <a href="#">KONSERTDATABASEN</a>
            <div class="dropdown">
                <button class="dropbtn">ANNET <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="{{ site.baseurl }}/andreorkestre">LENKER</a>
                    <a href="{{ site.baseurl }}/gratrosandelen">GRATROSANDELEN</a>
                    <a href="{{ site.baseurl }}/plakater">PLAKATER OG PROGRAM</a>
                </div>
            </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </div>
</div>

{{ content }}

</body>

<!-- Footer -->
<footer class="footer">
    <a href="https://nb-no.facebook.com/pages/category/Musician-Band/Universitetets-symfoniorkester-113487015668/"
       target="_blank"
       style="text-decoration:none;">
        <i class="fa fa-facebook-official icon"></i>
    </a>
    <a href="mailto:uso.post@gmail.com" target="_blank"><i class="fa fa-envelope icon"></i></a>
    <p>Powered by: Universitetetes Symfoniorkester Oslo</p>
</footer>
</html>